---
layout: page
title: Does[0]Compute?
permalink: /compute/
---

{% assign site_year = site.time | date: "%Y" %}
{% assign site_day = site.time | date: "%j" %}

<div class="home">
    
    <p>
        Does[0]compute? (pronounced “Does naught compute?”), is intended to foster a discussion about best practices in computational biology. <!--For Spring 2016, we are reading <a href="http://pythonforbiologists.com/index.php/books/" rel="external"><i>Advanced Python for Biologists</i></a> by Dr. Martin Jones.-->
        The discussion group meets in 213 Borlaug Hall every other Friday from 2:00 - 3:00 pm. Upcoming meeting times are shown below. Please bring a computer to use during the discussion.
        For more information please sign up for the Google group, <a href="https://groups.google.com/a/umn.edu/forum/#!forum/biocomputing" rel ="external">Biocomputing Discussion Group</a>.
    </p><br />
    <p>
        Subscribe to a <a href="webcal://p04-calendars.icloud.com/published/2/jE9MjkpWVIb9tq2CbFvpmB9asNoA59rK6468l9g2TZZunIk9znRNbxIQ4_srNiRQ-g9vgE_Q39d2yLgANj2zJLacC8YEDiZJrcaFhK3ROuw" rel="external">calendar</a> of Does[0]compute? meetings. (Mac only)
    </p><br />
    <hr />
    <h2>Meeting Schedule</h2>
    <ul class="posts">
        {% for post in site.compute %}
            {% assign post_year = post.meet_date | date: "%Y" %}
            {% assign post_day = post.meet_date | date: "%j" %}
            {% if  post_year >= site_year %}
                {% if post_day >= site_day %}
                    <li>
                        <span class="post-date">{{ post.meet_date | date: "%b %-d, %Y" }}</span>
                        <a class="post-link" href="{{ post.url }}">{{ post.topic }}</a><br />
                        <span class="post-content">
                            Lead by:
                            {% if post.leaders %}
                                {{ post.leaders }}
                            {% else %}
                                <em>To be determined</em>
                            {% endif %}
                        </span>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    
</div>

<!-- Start Google Analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-19694768-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!-- End Google Analytics -->