---
layout: page
title: People
permalink: /people/
---

<!--Create an array of possible ranks-->
{% assign ranks = "principal, postdoc, technician, graduate, undergraduate, former, honorary, current-collaborators, previous-collaborators" | split: ', ' %}

<div class="home">
        {% for rank in ranks %} <!-- For each rank -->
            <div class="posts" style="clear:both; padding-bottom: 0px"> <!-- Start a container for the specific rank -->
            {% case rank %} <!-- Determine the propper header -->
                {% when 'principal' %}
                    <h2>Principal Investigator</h2>
                {% when 'postdoc' %}
                    <h2>Postdoctoral Scholars</h2>
                {% when 'technician' %}
                    <h2>Technicians</h2>
                {% when 'graduate' %}
                    <h2>Graduate Students</h2>
                {% when 'undergraduate' %}
                    <h2>Undergraduates</h2>
                {% when 'former' %}
                    <h2>Former Lab Members</h2>
                {% when 'honorary' %}
                    <h2>Honorary Lab Members</h2>
                {% when 'current-collaborators' %}
                    <h2>Current Collaborators</h2>
                {% when 'previous-collaborators' %}
                    <h2>Past Collaborators</h2>
            {% endcase %}
            {% for post in site.people %} <!-- For each post, the include takes care of figuring out who gets put with which header -->
                <!--Use the include to take care of formatting-->
                {% include people_blurb.html name=post.name start=post.start-date end=post.end-date image=post.image content=post.content github=post.github google-scholar=post.google-scholar linkedin=post.linkedin twitter=post.twitter website=post.website this=rank rank=post.rank %}
            {% endfor %}
            </div> <!-- End the container for each rank -->
        {% endfor %}
<p style="font-size:150%;"><a href="../pictures/index.html">See more photos of the Morrell Lab</a></p>
</div>
<!-- Start Google Analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-19694768-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!-- End Google Analytics -->