---
layout: hidden_page
hidden_title: Previous Meetings
permalink: /previous/
---

{% assign site_year = site.time | date: "%Y" %}
{% assign site_day = site.time | date: "%j" %}

<div class="home">
    <ul class="posts">
        {% for post in site.meetings reversed%}
            {% assign post_year = post.meet_date | date: "%Y" %}
            {% assign post_day = post.meet_date | date: "%j" %}
            {% if post_year < site_year %}
                <li>
                    <span class="post-date">{{ post.meet_date | date: "%b %-d, %Y" }} - Lead by {{ post.leader }}</span>
                    <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br />
                    <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}.</span>
                </li>     
            {% endif %}
            {% if post_year == site_year %}
                {% if post_day < site_day %}
                    <li>
                        <span class="post-date">{{ post.meet_date | date: "%b %-d, %Y" }} - Lead by {{ post.leader }}</span>
                        <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br />
                        <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}.</span>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</div>

<!-- Start Google Analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-19694768-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!-- End Google Analytics -->