---
layout: page
title: Publications
permalink: /publications/
---

<div class="home">
    <h4>
    <a href="http://scholar.google.com/citations?user=GnCbOj4AAAAJ&hl=en" rel="external">Google Scholar</a> | 
    <a href="http://www.researcherid.com/ProfileView.action?SID=3FQCX6BjUEzreDOoabY&returnCode=ROUTER.Success&queryString=KG0UuZjN5WnWRkoEY6n%252Fnao36n1lwZN%252BI6RDxvBApGM%253D&SrcApp=CR&Init=Yes" rel="external">ISI</a> | 
    <a href="http://orcid.org/0000-0001-6282-1582" rel="external">ORCiD</a> | 
    <a href="http://www.ncbi.nlm.nih.gov/pubmed?cmd=PureSearch&term=morrell+pl%5BAuthor%5D" rel="external">PubMed</a>
    </h4>
    <ul class="posts">
        <h2>Pre-prints and articles in review</h2>
        {% for post in site.publications %}
            {% if post.paper_year == "preprint" %}
                <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}.</span> <br> <br>
            {% endif %}
        {% endfor %}
    </ul><br />
    <ul class="posts">
        <h2>2016</h2>
        {% for post in site.publications %}
            {% if post.paper_year == 2016 %}
                <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}.</span> <br> <br>
            {% endif %}
        {% endfor %}
    </ul><br />
    <ul class="posts">
        <h2>2015</h2>
        {% for post in site.publications %}
            {% if post.paper_year == 2015 %}
                <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}.</span> <br> 
                {% if post.paper_title == "Barley landraces are characterized by geographically heterogeneous genomic origins" %}
                    Research highlight by Robin Allaby: <a href="http://genomebiology.biomedcentral.com/articles/10.1186/s13059-015-0743-9" rel="external">Barley domestication: the end of a central dogma?</a> <br>
                {% endif %}
                <br>
            {% endif %}
        {% endfor %}
    </ul><br />
    <ul class="posts">
        <h2>2014</h2>
        {% for post in site.publications %}
            {% if post.paper_year == 2014 %}
                <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}.</span> <br>
                {% if post.paper_title == "SNPMeta: SNP annotation and SNP metadata collection without a reference genome" %}
                    <a href="http://www.tc.umn.edu/~konox006/Code/SNPMeta/" rel="external">Program Documentation</a> <br>
                    <a href="https://github.com/pmorrell/SNPMeta" rel="external">Latest Version on Github</a> <br>
                {% endif %}
                <br>
            {% endif %}
        {% endfor %}
    </ul><br />
    <ul class="posts">
        <h2>2013</h2>
        {% for post in site.publications %}
            {% if post.paper_year == 2013 %}
                <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}.</span> <br> <br>
            {% endif %}
        {% endfor %}
    </ul><br />
    <ul class="posts">
        <h2>2012</h2>
        {% for post in site.publications %}
            {% if post.paper_year == 2012 %}
                <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}.</span> <br> <br>
            {% endif %}
        {% endfor %}
    </ul><br />
</div>
