---
layout: page
title: Publications
permalink: /publications/
---

<div class="home">
    <h4>
    <a href="http://scholar.google.com/citations?user=GnCbOj4AAAAJ&hl=en" rel="external">Google Scholar</a> | 
    <a href="http://www.researcherid.com/ProfileView.action?SID=3FQCX6BjUEzreDOoabY&returnCode=ROUTER.Success&queryString=KG0UuZjN5WnWRkoEY6n%252Fnao36n1lwZN%252BI6RDxvBApGM%253D&SrcApp=CR&Init=Yes" rel="external">ISI</a> | 
    <a href="http://orcid.org/0000-0001-6282-1582" rel="external">ORCiD</a> | 
    <a href="http://www.ncbi.nlm.nih.gov/pubmed?cmd=PureSearch&term=morrell+pl%5BAuthor%5D" rel="external">PubMed</a>
    </h4>
    <ul class="posts">
        <h2>Pre-prints and articles in review</h2>
        {% for post in site.publications %}
            {% if post.paper_year == "preprint" %}
                <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}. <br>
                {{ post.content }} </span> <br>
            {% endif %}
        {% endfor %}
    </ul><br />
    <ul class="posts">
        <h2>2016</h2>
        {% for post in site.publications %}
            {% if post.paper_year == 2016 %}
                <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}. <br>
                {{ post.content }} </span> <br>
            {% endif %}
        {% endfor %}
    </ul><br />
    <ul class="posts">
        <h2>2015</h2>
        {% for post in site.publications %}
            {% if post.paper_year == 2015 %}
                <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}. <br>
                {{ post.content }} </span> <br>
            {% endif %}
        {% endfor %}
    </ul><br />
    <ul class="posts">
        <h2>2014</h2>
        {% for post in site.publications %}
            {% if post.paper_year == 2014 %}
                <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}. <br>
                {{ post.content }} </span> <br>
            {% endif %}
        {% endfor %}
    </ul><br />
    <ul class="posts">
        <h2>2013</h2>
        {% for post in site.publications %}
            {% if post.paper_year == 2013 %}
                <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}. <br>
                {{ post.content }} </span> <br>
            {% endif %}
        {% endfor %}
    </ul><br />
    <ul class="posts">
        <h2>2012</h2>
        {% for post in site.publications %}
            {% if post.paper_year == 2012 %}
                <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}. <br>
                {{ post.content }} </span> <br>
            {% endif %}
        {% endfor %}
    </ul><br />
    <ul class="posts">
        <h2>2011</h2>
        {% for post in site.publications %}
            {% if post.paper_year == 2011 %}
                <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}. <br>
                {{ post.content }} </span> <br>
            {% endif %}
        {% endfor %}
    </ul><br />
    <ul class="posts">
        <h2>2010</h2>
        {% for post in site.publications %}
            {% if post.paper_year == 2010 %}
                <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}. <br>
                {{ post.content }} </span> <br>
            {% endif %}
        {% endfor %}
    </ul><br />
    <ul class="posts">
        <h2>2009</h2>
        {% for post in site.publications %}
            {% if post.paper_year == 2009 %}
                <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}. <br>
                {{ post.content }} </span> <br>
            {% endif %}
        {% endfor %}
    </ul><br />
    <ul class="posts">
        <h2>2008</h2>
        {% for post in site.publications %}
            {% if post.paper_year == 2008 %}
                <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}. <br>
                {{ post.content }} </span> <br>
            {% endif %}
        {% endfor %}
    </ul><br />
    <ul class="posts">
        <h2>2007</h2>
        {% for post in site.publications %}
            {% if post.paper_year == 2007 %}
                <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}. <br>
                {{ post.content }} </span> <br>
            {% endif %}
        {% endfor %}
    </ul><br />
    <ul class="posts">
        <h2>Older Publications</h2>
        {% for post in site.publications reversed %}
            {% unless post.paper_year contains "preprint" %}
                {% if post.paper_year < 2007 %}
                    <a class="post-link" href="{{ post.paper_url }}">{{ post.paper_title }}</a> <br>
                    <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). {{post.paper_journal }}. <br>
                    {{ post.content }} </span> <br>
                {% endif %}
            {% endunless %}
        {% endfor %}
    </ul><br />
</div>
