---
layout: page
title: Publications
permalink: /publications/
---

{% capture all_years %}{% for post in site.publications %}{{ post.paper_year }}, {% endfor %}{% endcapture %} <!-- Create a string of all years listed in our _publications, delimited by a comma and a space-->
{% assign post_years = all_years | split : ',' | uniq %}<!-- Create an array out of the unique values -->

<div class="home">
    <h4> <!-- Links to Google Scholar, ISI, ORCiD, and PubMed for Peter -->
        <a href="http://scholar.google.com/citations?user=GnCbOj4AAAAJ&hl=en" rel="external">Google Scholar</a> | 
        <a href="http://www.researcherid.com/ProfileView.action?SID=3FQCX6BjUEzreDOoabY&returnCode=ROUTER.Success&queryString=KG0UuZjN5WnWRkoEY6n%252Fnao36n1lwZN%252BI6RDxvBApGM%253D&SrcApp=CR&Init=Yes" rel="external">ISI</a> | 
        <a href="http://orcid.org/0000-0001-6282-1582" rel="external">ORCiD</a> | 
        <a href="http://www.ncbi.nlm.nih.gov/pubmed?cmd=PureSearch&term=morrell+pl%5BAuthor%5D" rel="external">PubMed</a>
    </h4>
        <!-- All publications from the lab -->
        {% for year in post_years reversed %} <!-- For every year in our array, in descending order -->
            {% unless year == ' ' %} <!-- If the year is not a space, necessary because of the way we delimited our string -->
                <ul class="posts"> <!-- Format as posts -->
                {% if year contains 'preprint' %} <!-- If we're looking at preprints right now, use `contains' because of our string delimter -->
                    <h2>Preprints and Articles in Review</h2> <!-- Special header -->
                {% else %} <!-- Otherwise -->
                    <h2>{{ year }}</h2> <!-- Just the year -->
                {% endif %}
                {% for post in site.publications %} <!-- For every publication entry -->
                    {% capture this_year %}{{ post.paper_year }}{% endcapture %} <!-- Capture the year of the current paper as a string -->
                    {% if year contains this_year %} <!-- If our overall year contains the value of the paper's year (again with the space) -->
                        <!-- Create an entry for this paper -->
                        <span class="post-content">{{ post.paper_author }} ({{ post.paper_year }}). <a href="{{ post.paper_url }}">{{ post.paper_title }}</a>. {{post.paper_journal }}.</span><br />
                        {% if post.preprint %}
                            <a href="{{ post.preprint }}">Preprint version</a><br>
                        {% endif %}
                        {% if post.software_link %}
                            <a href="{{ post.software_link }}">{{ post.software_name }} download</a><br>
                        {% endif %}
                        {% if post.content %} <!-- Include any extra content if present -->
                            <span class="post-content">{{ post.content }}</span>
                        {% endif %}
                        <br /> <!-- One last line break -->
                    {% endif %}
                {% endfor %}
                </ul>
            {% endunless %}
        {% endfor %}
</div>

<!-- Start Google Analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-19694768-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!-- End Google Analytics -->