<!-- Template for lab member blurbs on people.html -->
<p style="clear: both;"> <!-- Create a container for the blurb -->
    {% capture start_year %}{{ include.start | slice: 0,4 }}{% endcapture %} <!-- Start date in year format -->
    {% capture end_year %}{{ include.end | slice: 0,4 }}{% endcapture %} <!-- End date in year format -->
    <!--Start by determining which style goes on the page-->
    {% if include.this == 'former' %} <!-- If we want people who are not currently a member of the lab -->
        {% unless include.end == 'Present' or include.rank == 'honorary' %} <!-- Exclude current members -->
            {% if include.google-scholar %} <!-- Do we have a Google Scholar page? -->
                <a href="{{ include.google-scholar }}" rel="external">{{ include.name }}</a>, <!-- Name links to Google Scholar -->
            {% elsif include.website %} <!-- No Google Scholar, try website -->
                <a href="{{ include.website }}" rel="external">{{ include.name }}</a>, <!-- Name links to website -->
            {% else %} <!-- Neither -->
                {{ include.name }},
            {% endif %}
            {% if start_year contains end_year %} <!-- Less than a year in the lab -->
                {{ start_year }}:
            {% else %} <!-- More than a year in the lab -->
                {{ start_year }} &mdash; {{ end_year }}:
            {% endif %}
            {% case include.rank %}
                {% when 'undergraduate' %} <!-- Undergraduates get called 'undergraduates' -->
                    Undergraduate student
                {% else %} <!-- Otherwise, give them something -->
                    {{ include.content }}
            {% endcase %}
        {% endunless %}
    {% elsif include.this contains 'collaborators' and include.rank contains 'collaborator' %} <!-- If we're working with collaborators now -->
        {% if include.this contains 'current' and include.end == 'Present' %} <!-- Current collaborators -->
            <!--Use the include for a cleaner file-->
            {% include collaborator_blurb.html name=include.name website=include.website content=include.content %}
        {% elsif include.this contains 'previous' and include.end != 'Present' %} <!-- Previous collaborators -->
            {% include collaborator_blurb.html name=include.name website=include.website content=include.content %}
        {% endif %}
    {% else %} <!-- For current and honorary members -->
        {% if include.end == 'Present' or include.this == 'honorary' %} <!-- Ensure that we have current and honorary members -->
            {% if include.this == include.rank %} <!-- Are we working with the correct people, ie. graduate students for the graduate header -->
                <h3>{{ include.name }}</h3> <!-- Name in h3 style -->
                {% if include.image %} <!-- Do we have an image? -->
                    <img src="{{ site.github_url }}{{site.images_dir }}{{ include.image }}" style="float:left; border: 5px solid #1D2120; height: 150px;">
                {% endif %}
                {% if include.website %} <!-- Do we have a website? -->
                    <a href="{{ include.website }}" rel="external"><span class="name">Website</span></a>
                    {% if include.google-scholar or include.github or include.linkedin or include.twitter %} | {% endif %}
                {% endif %}
                {% if include.google-scholar %} <!-- Google Scholar page? -->
                    <a href="{{ include.google-scholar }}" rel="external"><span class="name">Google Scholar</span></a>
                    {% if include.github or include.linkedin or include.twitter %} | {% endif %}
                {% endif %}
                {% if include.github %} <!-- GitHub page? -->
                    <a href="{{ include.github }}" rel="external"><span class="name">Github</span></a>
                    {% if include.linkedin or include.twitter %} | {% endif %}
                {% endif %}
                {% if include.linkedin %} <!-- LinkedIn? -->
                    <a href="{{ include.linkedin }}" rel="external"><span class="name">LinkedIn</span></a>
                    {% if include.twitter %} | {% endif %}
                {% endif %}
                {% if include.twitter %} <!-- Twitter? -->
                    <a href="{{ include.twitter }}" rel="external"><span class="name">Twitter</span></a>
                {% endif %}
                <span class="post-date">{{ start_year }} &mdash; {{ include.end }}</span> <!-- Dates worked -->
                <span class="post-content">{{ include.content }}</span><!--The blurb-->
            {% endif %} <!-- End checking rank vs header -->
        {% endif %} <!-- End checking current -->
    {% endif %} <!-- End specific styles -->
</p> <!-- End the container -->
