<!--Template for lab member blurbs on people.html-->
<p style="clear: both;"><!--Create a container for the blurb-->
    <h3>{{ include.name }}</h3><!--Name gets to be header-level 3-->
    {% if include.image %}<!--Do we have an image?-->
        <img src="{{ site.github_url }}{{site.images_dir }}{{ include.image }}" style="float:left; border: 5px solid #1D2120; height: 150px;"><!--If so, include it-->
    {% endif %}<!--The `if' is necessary to prevent ugly icons-->
    {% if include.website %}
        <a href="{{ include.website }}" rel="external">
        <span class="name">Website</span>
        </a>
        {% if include.google-scholar or include.github or include.linkedin or include.twitter %}
        |
        {% endif %}
    {% endif %}  
    {% if include.google-scholar %}
        <a href="{{ include.google-scholar }}" rel="external">
        <span class="name">Google Scholar</span>
        </a>
        {% if include.github or include.linkedin or include.twitter %}
        |
        {% endif %}
    {% endif %}
    {% if include.github %}
        <a href="{{ include.github }}" rel="external">
        <span class="name">Github</span>
        </a>
        {% if include.linkedin or include.twitter %}
        |
        {% endif %}
    {% endif %}
    {% if include.linkedin %}
        <a href="{{ include.linkedin }}" rel="external">
        <span class="name">LinkedIn</span>
        </a>
        {% if include.twitter %}
        |
        {% endif %}
    {% endif %}
    {% if include.twitter %}
        <a href="{{ include.twitter }}" rel="external">
        <span class="name">Twitter</span>
        </a>
    {% endif %}
    <span class="post-date">
        {% if include.end %}
            {% assign problem = include.start | date: "%Y" %}
            {% case problem %}
                {% when '1969' %}{{ include.start}} &mdash; {{ include.end }}
                {% else %}{{ include.start | date: "%b, %Y" }} &mdash; {{ include.end }}
            {% endcase %}
        {% endif %}
    </span><!--Dates worked-->
    <span class="post-content">{{ include.content }}</span><!--The blurb-->
</p><!--End the container-->
